.login-container {
    border: 1px solid grey;
    padding: 18px;
    // min-height: 480px;
}

.registration {
    margin-top: 24px;
}

.login-header {
    text-align: center;
    background-color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
}