<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img alt="Angular Logo" src="favicon.ico" [routerLink]="'homepage'" class="toolbar-logo" />
    <span>&nbsp;SK ACADEMY</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span *ngIf="isLogin; else logInTemplate">
      <button mat-raised-button color= "primary" [matMenuTriggerFor]="profilemenu">
          <mat-icon>face</mat-icon>
          &nbsp;{{loginName | uppercase}}
          &nbsp;<mat-icon>arrow_drop_down</mat-icon>
      </button>
    </span>
    <ng-template #logInTemplate>
        <button mat-raised-button color= "primary" [routerLink]="'login'">LOGIN</button>
    </ng-template>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span class="menu-spacer"></span>
  </mat-toolbar-row> -->

</mat-toolbar>

<mat-menu #profilemenu="matMenu">
  <button mat-menu-item [routerLink]="'studprofile'">Home</button>
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Change Password</button>
</mat-menu>

<div class="container-menu">
    <button mat-button [routerLink]="'homepage'">Home</button>
    <button mat-button [matMenuTriggerFor]="aboutus">About Us</button>
    <button mat-button [matMenuTriggerFor]="courses">Our Courses</button>
    <a mat-button [routerLink]="'/create-account'">Exam Information</a>
    <a mat-button [routerLink]="'/contacts'"> Study Materials </a>
    <a mat-button [routerLink]="'/create-contact'"> Acheivments </a>
    <a mat-button [routerLink]="'/activities'"> Contact Us </a>
</div>

<mat-menu #aboutus="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="prelims"> Institute</button>
  <button mat-menu-item [matMenuTriggerFor]="prelims">Our Faculties</button>
</mat-menu>

<mat-menu #courses="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="upsc">UPSC </button>
  <button mat-menu-item [matMenuTriggerFor]="mpsc">MPSC</button>
</mat-menu>

<mat-menu #upsc="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="prelims">Prelims</button>
  <button mat-menu-item [matMenuTriggerFor]="mains">Mains GS</button>
  <button mat-menu-item [matMenuTriggerFor]="optional">Optional</button>
  <button mat-menu-item>Birds</button>
  <button mat-menu-item>Mammals</button>
</mat-menu>

<mat-menu #prelims="matMenu">
  <button mat-menu-item>CSAT</button>
  <button mat-menu-item>General Studies</button>
  <button mat-menu-item>CSAT + General Studies</button>
</mat-menu>

<mat-menu #mains="matMenu">
  <button mat-menu-item>Baikal oilfish</button>
  <button mat-menu-item>Bala shark</button>
  <button mat-menu-item>Ballan wrasse</button>
  <button mat-menu-item>Bamboo shark</button>
  <button mat-menu-item>Banded killifish</button>
</mat-menu>

<mat-menu #optional="matMenu">
  <button mat-menu-item>Geography</button>
  <button mat-menu-item>Political Science</button>
  <button mat-menu-item>Anthropology</button>
  <button mat-menu-item>History</button>
</mat-menu>

<mat-menu #mpsc="matMenu">
  <button mat-menu-item>Banded Day Gecko</button>
  <button mat-menu-item>Banded Gila Monster</button>
  <button mat-menu-item>Black Tree Monitor</button>
  <button mat-menu-item>Blue Spiny Lizard</button>
  <button mat-menu-item disabled>Velociraptor</button>
</mat-menu>